name: Node.js CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    # AJOUT IMPORTANT : Définit le dossier de travail par défaut pour toutes les commandes
    defaults:
      run:
        working-directory: ./lab

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x' 
        
    - name: Install dependencies
      run: npm ci
      
      
    - name: Run Tests
      run: npm test